node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Media hasil generate (jangan di-commit, tapi folder harus ada)
public/generated/*
!public/generated/.gitkeep
